@use 'variaveis';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: variaveis.$backgroundColorHeader;
    color: variaveis.$corTextoHeader;

    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex;

        &__item {
            margin-left: 18px;
            cursor: pointer;
            &:hover {
                color: rgb(255, 217, 0);
            }
        }
    }
}