@use 'variaveis';
@use 'cast';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: variaveis.$backgroundColorHeader;
    color: variaveis.$corTextoHeader;

    .nav {
        display: flex;

        &__item {
            margin-left: 18px;
            cursor: pointer;

            &:hover {
                color: rgb(255, 217, 0);
            }
        }
    }
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 18px 0;
    }
}

.show {
    padding-bottom: 40px;
}

.show__data {
    position: relative;
    display: flex;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/daisyjones_six.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        opacity: 0.3;  
        z-index: -1;  
    }
    
    &__poster {
        opacity: 1;  
        width: 350px;
        position: relative;
        z-index: 1;  
    }
    
    &__description {
        margin: 0 18px;
        position: relative;
        z-index: 1; 

        h3 {
            margin: 12px 0;
        }
    }
}



